In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
df.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [5]:
df.shape

(7613, 5)

In [6]:
df['location'].value_counts()

USA                               104
New York                           71
United States                      50
London                             45
Canada                             29
                                 ...
You're not 19 forever               1
#????? Libya#                       1
Harper Woods, MI                    1
Wolmers Trust School for Boys       1
playing soccer & eating pizza       1
Name: location, Length: 3341, dtype: int64

In [7]:
#keep only text and target variables 
df2 = df.iloc[:,3:]
df2.head()

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1